.create-event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 40px;
}

.step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.image-section {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-description-style {
  width: 70%;
  border: none;
  color: #ffff;
  padding: 10px 10px 10px 10px;
  &:focus-visible {
    outline-color: #cecece;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.input-text-style {
  width: 100%;
  max-width: 300px;
  border: none;
  color: #ffff;
  padding: 20px 20px 20px 20px;
  &:focus-visible {
    outline-color: #cecece;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.input-date-style {
  height: 60px;
  width: 100%;
  max-width: 170px;
  border: none;
  padding: 10px 10px 10px 10px;
  color: #ffff;
  &:focus-visible {
    outline-color: #cecece;
  }
  &::placeholder {
    color: #ffff;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.input-number-style {
  width: 80px;
  height: 60px;
  border: none;
  color: #ffff;
  padding: 10px 10px 10px 15px;
  &:focus-visible {
    outline-color: #cecece;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.create-event-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 70%;
  gap: 20px;
}

.label {
  color: #ffff;
}

.submit-button {
  background-color: #ffff;
  border-radius: 10px;
  color: black;
  padding: 15px;
  width: 50%;
  &:hover {
    background-color: #ffffffc2;
  }
}

.select-nft-button {
  background-color: #ffff;
  border-radius: 10px;
  color: black;
  padding: 10px;
  width: 50%;
  &:hover {
    background-color: #ffffffc2;
  }
}

.next-page-button {
  background-color: #ffff;
  border-radius: 10px;
  color: black;
  padding: 10px;
  width: 50%;
  &:hover {
    background-color: #ffffffc2;
  }
}

.charity-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.charity-percentage {
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
}

.binance-charity-img {
  border-radius: 10px;
}

.left-side-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-left: 70px;
}

.right-side-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-left: 70px;
}

.steps-container {
  max-width: 800px;
  width: 100%;
}

.generate-image-step-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin-top: 50px;
}

.generate-image-butons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.image-inner-container {
  position: relative;
  background-color: #c0c0c029;
}

.loader-image {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.generate-image-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 600px;
  align-items: center;
}
