.create-event-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 40px;
}

.image-section {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.input-description-style {
  width: 70%;
  border: none;
  color: #ffff;
  padding: 10px 10px 10px 10px;
  &:focus-visible {
    outline-color: #cecece;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.input-text-style {
  width: 70%;
  border: none;
  color: #ffff;
  padding: 20px 20px 20px 20px;
  &:focus-visible {
    outline-color: #cecece;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.input-date-style {
  height: 60px;
  border: none;
  padding: 10px 10px 10px 10px;
  color: #ffff;
  &:focus-visible {
    outline-color: #cecece;
  }
  &::placeholder {
    color: #ffff;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.input-number-style {
  width: 80px;
  height: 60px;
  border: none;
  color: #ffff;
  padding: 10px 10px 10px 15px;
  &:focus-visible {
    outline-color: #cecece;
  }
  background-color: rgba(211, 211, 211, 0.204);
  border-radius: 10px;
}

.create-event-section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.label {
  color: #ffff;
}

.submit-button {
  background-color: #ffff;
  border-radius: 10px;
  color: black;
  padding: 15px;
  width: 50%;
  &:hover {
    background-color: #ffffffc2;
  }
}

.select-nft-button {
  background-color: #ffff;
  border-radius: 10px;
  color: black;
  padding: 15px;
  width: 50%;
  &:hover {
    background-color: #ffffffc2;
  }
}
